@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,594;1,594&display=swap');


body {
    background-color: rgb(25, 25, 25);
}

.apie_mus .video {
    margin-left:70px;
    opacity: 0.4;
    margin-top: 70px;
}

.apie_mus {
    position: relative;
  }
  
  .apie_mus .text1 h1 {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
  }
  
  .apie_mus .text1 h1 {
    top: 260px;
    left: 470px;
    font-size: 100px;
  }
  

  .pagrindinis {
    display: flex;
    gap: 71px;
    margin-top: 75px;
    margin-left: 400px;
    font-family: "Montserrat", sans-serif;
}

.pagrindinis .nav-link {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    transition: 0.4s;
    font-size: 25px;
}

.pagrindinis .nav-link:hover {
    background-color: rgb(122, 37, 155);
    border: 1px solid rgb(122, 37, 155);
}

.pagrindinis .nav-link.active {
    background-color: rgb(122, 37, 155);
    border: 1px solid rgb(122, 37, 155);
}

#paws {
 position: relative;
 right: 880px;
 bottom: 3px;
 width: 50px;

}

#pets {
    position: relative;
    right: 530px;
    bottom: 4px;
    width: 50px;

}

#phone {
    position: relative;
    right: 380px;
    bottom: 14px;
    width: 30px;
}

#paw {
    position: relative;
    right: 680px;
    bottom: 14px;
    width: 30px;
   
}

.blokai {
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 140px;
    margin-top: 180px;
}

.blokai p {
 color: rgb(150, 94, 171); 
}

.zinute {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 280px;
    margin: 0 200px 0 200px;
}

form , input, textarea, button{
    font-family: "Montserrat", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid rgb(15, 15, 15);
    background-color: rgb(15, 15, 15) ;
    padding: 50px;
    border-radius: 30px;
}

input {
    padding: 20px;
    border: solid white;
    width: 190px;
    margin-left: 80px;
    border-radius: 20px;
}

textarea {
    padding: 30px;
    border: solid white;
    width: 280px;
    border-radius: 20px;
    margin-left: 70px;
}

button {
    padding: 15px;
    border: solid rgb(228, 151, 242);
    background-color:rgb(228, 151, 242) ;
    width: 150px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 70px;
}

.zinute img {
    position: absolute;
    top: 1625px;
}
